*{
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}
html{
    background: rgb(3,168,243);
    background: linear-gradient(90deg, rgba(3,168,243,1) 0%, rgba(62,82,182,1) 86%); 
    width: 100%;
    height: 100%;
}
body{
    /*
    min-width: 320px;
    max-width: 1920px;
    
    min-height: 568px;
    max-height: 1080px;

    width: 100%;
    */
    width: 100%;
    height: 100%;
    
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

main{
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: absolute;
}


.formu{
  /*
  margin: auto;
  min-width: 340px;
  max-width: 670px;

 min-height: 350px;
 max-height: 400px;
 */

    width: 380px;
   height: 600px;
   position: relative;
   margin: 2% auto;
   background: #eaf1fa;
   border-radius: 10px;
   padding: 5px;
   overflow: hidden;
}

.entrar{
    margin-top: 50px;
}
.btnLR{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #00a6cbb0;
    border-radius: 30px; 
       
}

.btn{
    /*margin-top: 5px;*/
    font-size: 13px;
    border: 0;
    background-color: transparent;
    padding: 10px 21px;
    outline: none;
    position: relative;
    border-radius: 10%;
    cursor: pointer;
}

#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #00d4ff, hsl(240, 90%, 73%));
    border-radius: 30px;
    transition: .5s;
}

.login{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
.register{
    top: 115px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
::placeholder{
    text-transform: uppercase;
}
#email, #senha, #nome, #tel, #data, #cpf, #espec, #senhaCadastro,#emailCadastro {
    width: 99%;
    padding: 10px 10px;
    margin: 5px 0;
    border: 2.5px solid black;
    border-radius: 15px;
    
    outline: none;
    background: transparent;
}


input[type=submit]{
    
   width: 85%;
    padding: 10px 30px;
    display: block;
    margin: auto;

    text-transform: uppercase;
    color: black;
    background:#00a5cb; 
    font-size: 20px;
    border:#9fa5aa solid 2px;
    border-radius: 8px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #4ccbe7;
}
#login{
    left: 50px;
    

}

#register{
    left: 450px;
    overflow: hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
  }
@media screen and (min-width:320px) and (max-width:425px){
    main{
        width: 100%;
        height: 100%;
    }
    .formu{ 
        width: 280px;
        height: 535px;
        position: relative;
        margin: 8% auto;
        background: #eaf1fa;
        border-radius: 10px;
        padding: 5px;
        overflow: hidden;
     }
     .login{
        top: 160px;
        position: absolute;
        width: 280px;
        transition: .5s;
    }
    .register{
        top: 115px;
        position: absolute;
        width: 280px;
        transition: .5s;
    }
    .email, .senha, .nome, .tel, .data, .cpf, .espec, .emailCadastro, .senhaCadastro{
        margin-top: 3px;
    }
    #email, #senha, #nome, #tel, #data, #cpf, #espec,#emailCadastro,#senhaCadastro  {
        width: 75%;
        padding: 10px 25px;
        border: 2.5px solid black;
        border-radius: 15px;
        
        margin: 0 auto;
        outline: none;
        background: transparent;
    }
    input[type=submit]{
        width: 70%;
        padding: 11px 30px;
        margin-left: 2%;
        margin-top: 1px;
        text-align: center;
        align-items: center;
    }
    }
